/* BASES   */
html {
    font-size: 13.5px;
}

body {
    margin: 0;
    
    font-family: arial, sans-serif;
}









/* PERSONAL NAVBAR */

.personal-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
}

.personal-navbar a {
    color: rgb(12, 12, 12);
    text-decoration: none;
}

.personal-navbar a,
.personal-navbar img {
    padding-left: 15px;
}

.personal-navbar a:hover{
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.692);
}

.account-online {
    height: 35px;
    padding-right: 20px;

    cursor: pointer;
}

.functions-google {
    opacity: .5;
}

.functions-google:hover {
    opacity: 1;
    transition: opacity .3s;
    cursor: pointer; 
}









/* CONTAINER */

.container {
    height: 650px;
    display: flex;
    align-items: center;
}

/* MAIN */
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 580px; 
    margin: 0 auto;
}

/* LOGO  */

.logo-content {
    display: block;

    z-index: -1;
}

.logo{
    width: 365px;
}

/* SEARCH  BAR */

.around-search{
    width: 580px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #FFF;
    
    border: 1px solid #dadce0;
    border-radius: 50px;

    z-index: 1000;
}

.search{
    width: 430px;
    height: 38px;
    margin-top: 3px;
    flex: 1;

    border: none;
}

.search:focus{
    outline: none;
}

.around-search:hover{
    box-shadow: 0px 0px 7px #dadce0;
}

 
.before-search{
     margin-top: 3px;
     padding: 10px; 
}

.after-search {
    margin-top: 2px;
    padding: 10px; 
} 










/* BUTTONS */

.buttons {
    width: 331px;
    margin: 25px auto;

    z-index: 1000;
}

.buttons input {
    padding: 0px 24px;
    height: 36px;
    margin: 11px 4px;
    
    z-index: 1000;
    transition: .3s;
}

.button1{
    background-color: #465bdb;

    border-radius: 4px;
    border: none;

    color: #FFF;
}

.button2{
    background-color: #FFF;

    border: 1px solid #dadce0;
    border-radius: 4px;
    
    color: #465bdb;
}

.button1:hover{
    background-color: #262b4d;

    cursor: pointer;
}
.button2:hover{
    background-color: #a9afda33;

    cursor: pointer;
}



/* COVID-19 */
.covid-around {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.covid {
    margin-left: 10px;

    color: #1a0dab;
    text-decoration: none;
}

.covid:hover {
    text-decoration: underline;
}

.covid:visited {
    color: #609;
}










/* FOOTER */
.footer {
    height: 140px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #f2f2f2;

    z-index: -1;
}

.pays,
.row1 a,
.row2 a {
    padding: 15px 0 15px 27px;

    color: rgb(129, 129, 129);
    text-decoration: none;

    z-index: 1;
}

.row1 a,
.row2 a {
    display: inline-block;
    padding: 15px 0 10px 27px;
}

.row1 a:hover,
.row2 a:hover {
    text-decoration: underline;
}

.pays {
    border: 1px solid #e4e4e4;

    font-size: 17px;
}

.row {
    width: 615px;
    margin: 0 auto;
}

.row1, 
.row2 {
    text-align: center;
}

.row2 {
    padding-right: 20px;
}










/* DESKTOP FIRST - */

@media screen and (min-width: 1150px) {

    .row{
        width: 100%;
    }

    .footer {
        height: 100px;
    }

    .row1 {
        float: left;
    }

    .row2 {
        float: right;
    }

}


@media screen and (max-width: 1160px) {

    .main{
        top: 100px;
    }

}

@media screen and (max-height: 840px) {

    .container {
        height: 550px;
    }

}

